.logo {
  height: 70px;
  margin-top: 30px;
  margin-left: 50px;
}

.flatter {
  background-image: linear-gradient(
      rgba(231, 218, 218, 0.11),
      rgba(203, 190, 190, 0.105)
    ),
    url('../../images/backgroundImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.SignButton {
  margin-right: 30px;
  border-radius: 10px;
  float: right;
  z-index: 99;
  position: relative;
  height: 40px;
  width: 80px;
  color: black;
  background-color: rgb(220, 222, 224);
}

.linkBtn {
  margin-top: 25px;
  margin-right: 30px;
  text-decoration: none !important;
  box-shadow: none;
  color: rgb(255, 255, 255);
  font-size: x-large;
}

.linkBtn:focus {
  box-shadow: none;
}

.text1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}

.orderButton {
  text-align: center;
  /* margin-left: 40%; */
  border-radius: 10px;
  height: 50px;
  width: 250px;
  font-size: x-large;
  background-color: rgb(242, 87, 87);
}
