.profileBtn {
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 35px;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  background-color: aliceblue;
  color: black;
}

.dropBtn {
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 35px;
  border-radius: 10px;
  height: 40px;
  width: fit-content;
  background-color: aliceblue;
  color: black;
}

.ProfilelinkBtn {
  margin-top: 25px;
  margin-right: 30px;
  text-decoration: none !important;
  box-shadow: none;
  color: rgb(2, 2, 2);
  font-size: x-large;
}

.ProfilelinkBtn:focus {
  box-shadow: none;
}

.item {
  padding: 3rem;
}

.fixedcontent {
  margin-top: 5%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
